.toolbar {
  height: 56px;
  background: #455A64;

}
.menu-right{
display: flex;
width:100%;
}
 a{
  color: white;
  text-decoration: none;
  padding: 0 5px;
  font-size: 18px;
  letter-spacing: 1px;

}
.active {
  color: orange
}
