.container{

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  min-height: 600px;
  background: #CFD8DC;
}

table th,td{
  padding: 15px;
  border: 1px solid gray;
  background: white;
}
.table{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:35px;
}
.title{
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
border: 1px solid gray

}
.userDetail{
  margin-top: 30px;
}
